.banner{
    background-image: url('../../assets/DALL·E 2024-11-18 02.06.31 - A visually engaging website banner showcasing a winter clothing donation campaign. The banner features warm, cozy winter clothes like jackets, scarves.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}